/*
 * gotham web font
 */
@font-face {
    font-family: 'gotham-bolditalic';
    src: url('../fonts/gothmbit-webfont.woff2') format('woff2'),
         url('../fonts/gothmbit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-book';
    src: url('../fonts/gothmbok-webfont.woff2') format('woff2'),
         url('../fonts/gothmbok-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/gothmbol-webfont.woff2') format('woff2'),
         url('../fonts/gothmbol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-light';
    src: url('../fonts/gothmlig-webfont.woff2') format('woff2'),
         url('../fonts/gothmlig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothamLtIt';
    src: url('../fonts/gothmlit-webfont.woff2') format('woff2'),
         url('../fonts/gothmlit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-medium';
    src: url('../fonts/gothmmed-webfont.woff2') format('woff2'),
         url('../fonts/gothmmed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothamMdIt';
    src: url('../fonts/gothmmit-webfont.woff2') format('woff2'),
         url('../fonts/gothmmit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-bookitalic';
    src: url('../fonts/gothmzit-webfont.woff2') format('woff2'),
         url('../fonts/gothmzit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-black';
    src: url('../fonts/gothmbla-webfont.woff2') format('woff2'),
         url('../fonts/gothmbla-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothamBlkIt';
    src: url('../fonts/gothmkit-webfont.woff2') format('woff2'),
         url('../fonts/gothmkit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-thin';
    src: url('../fonts/gothmthi-webfont.woff2') format('woff2'),
         url('../fonts/gothmthi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-thinitalic';
    src: url('../fonts/gothmtit-webfont.woff2') format('woff2'),
         url('../fonts/gothmtit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothamultraIt';
    src: url('../fonts/gothmuit-webfont.woff2') format('woff2'),
         url('../fonts/gothmuit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-ultra';
    src: url('../fonts/gothmult-webfont.woff2') format('woff2'),
         url('../fonts/gothmult-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothamxLtIt';
    src: url('../fonts/gothmxit-webfont.woff2') format('woff2'),
         url('../fonts/gothmxit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-xlight';
    src: url('../fonts/gothmxlt-webfont.woff2') format('woff2'),
         url('../fonts/gothmxlt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*
 * global styles
 */
body {
  background-image: none;
  padding: 0;
}
.container {
  box-shadow: none;
  padding: 0;
  background-color: transparent;
}
.siteLogo {
  background-color: #ffffff;
  background-image: none;
  border: none;
  border-radius: 0;
}
.siteLogo .clientLogo {
  background-image: url(../images/hhonors-logo.png);
  background-repeat: no-repeat;
  display: block;
  width: 263px;
  height: 31px;
}
/*
 * country select page
 */
body#csp {
  background-image: url(../images/map-background.png) !important;
  background-repeat: no-repeat !important;
  background-position: center 160px !important;
}
#csp .mainContent {
  min-height: 450px;
  margin-top: 115px;
}
#csp .mainContent a {
  display: none;
}
#csp .countrySelectionForm {
  text-align: center;
}
#csp #dropdownlistCountry {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0 !important;
  border-radius: 0;
  background-color: #00a9e0;
  background-image: url(../images/arrow-down-white-20x13.png);
  background-repeat: no-repeat;
  background-position: right 20px top 20px;
  color: #ffffff;
  font-family: 'gotham-bold', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  padding: 15px 50px 15px 15px;
  margin-top: 85px;
}
@media only screen and (max-width: 960px) {
  #csp #dropdownlistCountry {
    font-size: 22px;
  }
}
@media only screen and (max-width: 767px) {
  #csp #dropdownlistCountry {
    width: auto;
    font-size: 20px;
  }
}
@media only screen and (max-width: 640px) {
  #csp #dropdownlistCountry {
    font-size: 16px;
  }
}